*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 4rem;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

textarea {
  min-height: 15rem;
}

.print-button {
  margin-top: 2rem;
}

.qr-grid {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(7, 25mm);
  grid-auto-rows: 35mm;
  width: 210mm;
  height: 297mm;
  padding: 10mm;
}

.qr-code-card {
  border: 2px solid #000;
  font-size: 11px;
  font-weight: bold;
  padding: 2mm;
  height: 35mm;
  width: 25mm;
}

.qr-code-card svg {
  width: 100%;
  height: auto;
}

.qr-code-card p {
    margin: 0.2rem;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }
}

@media print {
  .sidebar {
    display: none;
  }

  #root {
    padding: 0;
    gap: 0;
  }
}
