#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.qr-grid {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(7, 30mm);
  padding: 10mm;
}

.qr-code-card {
  border: 2px solid #000;
  padding: 10mm;
}