*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.qr-grid {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(7, 28mm);
  grid-template-rows: repeat(10, 40mm);
  width: 210mm;
  height: 297mm;
  padding: 10mm;
}

.qr-code-card {
  border: 2px solid #000;
  font-size: 8px;
  padding: 2.5mm;
  height: 40mm;
  width: 28mm;
}