*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.content {
  display: flex;
  gap: 4rem;
  padding: 2rem;
}

.sidebar {
  max-width: 300px;
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

textarea {
  min-height: 15rem;
}


button {
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.control-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.qr-grid {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(7, 25mm);
  grid-auto-rows: 35mm;
  width: 210mm;
  height: 297mm;
  padding: 10mm;
}

.qr-code-card {
  border: 2px solid #000;
  font-size: 11px;
  font-weight: bold;
  padding: 2mm;
  height: 35mm;
  width: 25mm;
}

.qr-code-card svg {
  width: 100%;
  height: auto;
}

.qr-code-card p {
  margin: 0.2rem;
}

footer {
  font-size: 0.75rem;
  padding: 1rem 0 0.5rem;
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

@media print {
  .sidebar, footer {
    display: none;
  }

  #root {
    padding: 0;
    gap: 0;
  }
}